@import "tailwindcss";

.portfolio {
    background-image: url('./assets/images/my_portfolio.jpg');
    background-size: cover;
}

.e-learn {
    background-image: url('./assets/images/e_learning.jpg');
    background-size: cover;
}
.mm-game {
    background-image: url('./assets/images/memory_match.jpg');
    background-size: cover;
}

.pig-game {
    background-image: url('./assets/images/pig_game.jpg');
    background-size: cover;
}
._button{
    will-change: transform;
    animation: alternate1 0.2s 1;
}

@media(width<=400px){
    p,h1,li{
        font-size: xx-large;
    }
}

h2{
    font-size: clamp(1.1rem, 1.5vw,1.3rem);
}

p,ul{
    font-size: 1rem;
    @media (width>=65em) {
        font-size: 1.1rem;
    }
    font-size: clamp(1rem, 1.2vw,1.1rem);
}

@keyframes alternate1 {
    0% {
        transform: translate(0,0);
    }
    50% {
       transform: translate(-5px, 5px);
    }
    100% {
        transform: translate(0,0);
    } 
}

.animate-onload{
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translate(0,7px);
    }
    to{
        opacity: 1;
        transform: translate(0,0);

    }
}
