@import "tailwindcss";

.portfolio {
    background-image: url('./assets/images/my_portfolio.jpg');
    background-size: cover;
}

.e-learn {
    background-image: url('./assets/images/e_learning.jpg');
    background-size: cover;
}

.mm-game {
    background-image: url('./assets/images/memory_match.jpg');
    background-size: cover;
}

.pig-game {
    background-image: url('./assets/images/pig_game.jpg');
    background-size: cover;
}

.chess{
    background-image: url('./assets/images/chess_app.jpg');
    background-size: cover;
}

._button{
    will-change: transform;
    animation: alternate1 0.2s 1;
}

h2{
    font-size: clamp(1.1rem, 1.5vw,1.3rem);
}

p,ul{
    font-size: clamp(1rem, 1.2vw,1.1rem);
}

code{
    font-size: clamp(0.7rem, 1.2vw,1rem);
}

.wrapper{
    scrollbar-width: none;
    -ms-scroll-rails: none;
    -ms-overflow-style: none; /*Edge*/
}

.wrapper::-webkit-scrollbar-x{
    display: none; /*Chrome, Safari, and Opera*/
}

@keyframes alternate1 {
    0% {transform: translate(0,0);}
    50% {transform: translate(-5px, 5px);}
    100% {transform: translate(0,0);} 
}

.animate-sl{
    animation: swipeLeft 1.5s ease;
}

@keyframes swipeLeft {
    from{
        transform: translate(100px,0) ; 
        opacity: 0.3;
    }
    to{
        transform: translate(0,0); 
        opacity: 1;
    }
}

.animate-sr{
    animation: swipeRight 1.5s ease;
}

@keyframes swipeRight {
    from{
        transform: translate(-100px,0);
        opacity: 0.3;
    }
    to{
        transform: translate(0,0);
        opacity: 1;
    }
}

span{
    vertical-align: top;
}