@import "tailwindcss";

:root {
  font-family: monospace;
  color: rgb(255, 255, 255);
  height: 100dvh;

  background-image: url("./assets/images/mobile-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width:768px) {
    background-image: url("./assets/images/my_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
}

body {
  margin: 0;
  min-width: 320px;
}

html{
  background-color: #333;
}